

$prim-error-red: hsl(0, 100%, 66%);


$newt-white: hsl(0, 0%, 100%);
$newt-light-grayish-violet: hsl(270, 3%, 87%);
$newt-dark-grayish-violet: hsl(279, 6%, 55%);
$newt-very-dark-violet: hsl(278, 68%, 11%);