@use '../utilities' as var;

.after {
    display: none;
}
body {
    margin: 0;
}
#sh-number{
    color: var.$newt-white;
    font-size: 20px;
    position: relative;
    top: 80px;
    left: 20px;

}
#sh-name{
    color: var.$newt-white;
    position: relative;
    top: 80px;
    left: 20px;
}
#sh-date{
    color: var.$newt-white;
    position: relative;
    top: 50px;
    left: 220px;
}
.grid-container {
    position: fixed;
    margin-top: 300px;
    left: 25px;
    display: grid;
    grid-template-areas: 
    "c-name c-name"
    "c-number c-number"
    "c-exp c-cvc"
    "btn btn";
}
#card-name,
#card-number{
    @include var.input-field-text;
}
#in-card-name,
#in-card-number {
     @include var.main-card-input;
}

.exp-mm {
  @include var.exp-date-input;
}
#card-exp-date,
#cvc-number{
    @include var.input-field-text;
    margin-left: 5px;
}

#cvc-input {
    width: 145px;
    height: 35px;
    margin-left: 5px;
    border-radius: .5rem; 
    border-color: var.$newt-light-grayish-violet;   
}
.grid-1{
    grid-area:c-name;
}
.grid-2{
    grid-area:c-number;
}
.grid-3{
    grid-area:c-exp;
}
.grid-4{
    grid-area:c-cvc;
}
.grid-5{
    grid-area:btn;
}
footer {
    position: fixed;
    bottom: 0;
    display: block;
    margin-left: 55px;

}
